*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #e8f0f6;
}

header{
    height: 60px;
    padding: 0 200px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center; 
    align-items: center;
    font-size: 20px;
    font-family: "Open Sans";
    font-optical-sizing: auto;
    font-weight: 700;


    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.logo{
    display: flex;
    gap: 5px;
    align-items: center;
    font-family: "Momo Trust Display", sans-serif;
    font-style: normal;
}

a{
    text-decoration: none;
    color: #000000;
}

h2 {
    margin-left: 0;
    text-align: center;
    font-size: 45px;
    font-family: "Open Sans";
    font-optical-sizing: auto;
    font-weight: 700;
    margin-bottom: 40px;
}



.CoalPoema{
    margin-top: 80px;
    display: flex;
    justify-self: center;
    justify-items: center;
    align-items: center;
    padding: 0 60px;
    background-image: url('img/back1.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 70%;
    aspect-ratio: 16/9;
    border-radius: 20px;

    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    font-size: 30px;
    text-indent:2ch;
}



.about{
    justify-self: center;
    padding: 30px 200px 30px 40px;
    width: 70%;
    margin: 100px 100px;
    background: linear-gradient(135deg, #d5dde3 0%, #87CEEB 50%, #4682B4 100%);
    border-radius: 15px;
    font-size: 30px;
    font-family: "Nunito Sans", sans-serif;
}

.about h2{
    margin-left: 70px;
    text-align: left;
}

.aboutText{
    text-indent:1ch;
}

.aboutItem{
    margin-top: 15px;
    font-weight: 600;
}



.masterclass{
    justify-self: center;
    padding: 30px 20px;
    margin: 100px 0px;
    width: 90%;
    border-radius: 15px;
    font-size: 25px;
    font-family: "Nunito Sans", sans-serif;
}

.masterclassContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px 20px;
}

h3{
    text-align: center;
    margin-bottom: 20px;
}

.masterclassItem{
    padding: 30px;
    border-radius: 10px;
    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    cursor: pointer;
}

.item1{
    background-color: #65bbf4;
}
.item2{
    background-color: #5e81ff;
    color: white;
}
.item3{
    background-color: #4d2331;
    color: white;
}



.form{
    justify-self: center;
    padding: 30px 40px;
    width: 60%;
    border-radius: 15px;
    border: 4px dashed #ffbf00;
    font-size: 30px;
    font-family: "Nunito Sans", sans-serif;
}


.formContainer{
    width: 400px;
    display: grid;
    justify-self: center;
    grid-column: 1fr;
    gap: 10px 0px;
    padding-bottom: 20px;
}

.formInput{
    height: 50px;
    border-radius: 50px;
    font-size: 25px;
    font-family: "Nunito Sans", sans-serif;
    padding: 0px 10px; 
    border: 2px solid gray;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none; margin: 0; 
}

.formBtn{
    margin-top: -25px;
    justify-self: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 250px;
    font-size: 30px;
    font-weight: 700;
    background-color: #ffbf00;
    border-radius: 50px;
    font-family: "Nunito Sans", sans-serif;
    border: #ffbf00;
    cursor: pointer;


    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.formConfirm{
    position: fixed;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -60px;
    width: 450px;
    height: 50px;
    font-size: 30px;
    background-color: rgb(212, 212, 212);
    border-radius: 15px;

    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


.chatBot{
    justify-self: center;
    width: 70%;
    margin: 100px 100px;
    background: #F8FDFF;
    border-radius: 15px;
    font-size: 30px;
    font-family: "Nunito Sans", sans-serif; 
    border: #4682B4 solid 10px;
}

.chatHead{
    font-size: 40px;
    font-weight: 700;
    width: 100%;
    background-color: #4682B4;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    gap: 20px;
}

.chat{
    height: 500px;
    overflow-y: auto;
    font-size: 30px;
}

.send{
    height: 40px;
    display: flex;
    align-items: center;
}

.textbox{
    font-family: "Roboto Slab", serif;
    width: 100%;
    height: 45px;
    background-color: #ADE8F4;
    border: none;
    outline:none;
    font-size: 30px;
}

.clickMe{
    background-color: #ADE8F4;
    cursor: pointer;
}

.botMessage{
    font-family: "Roboto Slab", serif;
    background-color: #CAF0F8;
    border-radius: 0px 15px 15px 15px;
    padding: 5px;
    margin: 10px 20px;
    max-width: 700px;
    color: #000;
}

.personMessage{
    font-family: "Roboto Slab", serif;
    background-color: #CAF0F8;
    max-width: 700px;
    color: #000;
    justify-self: end;
    margin: 10px 20px;
    border-radius: 15px 0px 15px 15px;
    padding: 5px;
}

.choose{
    width: 100%;
    height: auto;
    font-family: "Roboto Slab", serif;
    background-color: #ADE8F4;
    font-size: 30px;
    padding: 15px 5px;
}

.chooseMe, .chooseMe1{
    margin: 10px 0px;

    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

    cursor: pointer;
}


footer{
    width: 100%;
    height: 70px;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    gap: 0px 20px;
    padding: 10px 50px;
    align-items: center;
}